.container {
  max-width: 960px;
  overflow: hidden;
  padding: 0 2rem;
}

#showcase {
  color: #fff;
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: cover;
}

.jedi-bg {
  background-image: url('../../assets/images/mobile-header-jedi.png');
}

.sith-bg {
  background-image: url('../../assets/images/mobile-header-sith.png');
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .jedi-bg {
    background-image: url('../../assets/images/light-banner.png');
  }

  .sith-bg {
    background-image: url('../../assets/images/dark-banner.png');
  }

  #showcase .showcase-container {
    padding-bottom: 5rem;
  }

  .landing-title {
    font-size: 6rem;
  }
}