/* Navigation */
nav {
  z-index: 10;
  position: fixed;
  margin: 20px;
  letter-spacing: 3px;
  width: 100%;
  margin: 40px;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-font1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  transform: rotate(180deg);
}

.links-container {
  visibility: hidden;
}

.show-container {
  visibility: visible;
  width: 100vw;
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  color: var(--clr-font1);
  margin: 16px;
  transition: var(--transition);
}

nav a:hover,
nav a:focus {
  color: var(--clr-font3);
  border-bottom: 2px solid;
}
